*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 90vh 10vh 100vh 50vh 60vh;
}
body::-webkit-scrollbar {
    display: none;
}
/* Nav Bar Styling */
nav{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 50px;
}
.logo{
    width: auto;
    height: 40px;
    cursor: pointer;
}
.links{
    margin-left: auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.links > li{
    list-style: none;
    cursor: pointer;
}
/* Section 1 styling */
.section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.headline{
    width: 550px;
    font-family: 'Raleway', sans-serif; 
}
.headline > h2{
  font-size: 35px;
  line-height: 50px;
}
.headline > p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 25px;
}
.headline > input{
    border: 1px solid black;
    padding: 8px;
    font-family: 'Raleway', sans-serif; 
    width: 300px;
    border-radius: 2px;
}
.headline > button{
    width: 150px;
    padding: 10px;
    background-color: hsl(224, 93%, 58%);
    border: none;
    font-family: 'Raleway', sans-serif; 
    color: #fff;
    border-radius: 3px;
    font-weight: 700;
    margin-left: 10px;
    cursor: pointer;
}
.section1 > img{
    width: auto;
    height: 400px;
}
/* Bg Curve */
.bg-curve{
    width: 100%;
}
/* Section 2 styling */
.section2{
    background-color: hsl(240, 65%, 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif; 
    padding: 50px;
}
.section2-headline{
    width: 600px;
}
.section2-headline > h2{
    font-size: 35px;
    line-height: 50px;
}
.section2-headline > p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 17px;
}
.arrowlink{
    display: flex;
    align-items: center;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    padding-bottom: 5px;
    cursor: pointer;
    width: fit-content;
}
.arrowlink > a{
    color: hsl(170, 45%, 43%);
}
.arrowlink > img{
    width: auto;
    height: 25px;
    margin-left: 5px;
}
.testimonial{
    background-color: #fff;
    border-radius: 5px;
    width: 300px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 14px;
    margin-top: 50px;
}
.testimonial > img{
    margin-bottom: 10px;
}
.testimonial > p{
    line-height: 25px;
}
.person-id{
    display: flex;
    margin: 20px 0;
    align-items: center;
}
.person-id > img{
    border-radius: 50%;
    width: auto;
    height: 30px;
}
.nameing{
    margin-left: 10px;
}
.nameing > h3{
    font-size: 12px;
    font-weight: 700;
}
.nameing > h4{
    font-size: 10px;
    font-weight: 400;
}
.section2 > img{
    width: auto;
    height: 400px;
}
/* Section 3 styling */
.section3{
    background-color: hsl(238, 22%, 44%);
    color: #fff;
    font-family: 'Raleway', sans-serif; 
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headline-section3{
    width: 420px;
}
.headline-section3 > h2{
    font-size: 35px;
}
.headline-section3 > p{
    margin-top: 20px;
    line-height: 25px;
    font-size: 17px;
}
.input-section{
    display: flex;
    flex-direction: column;
}

.input-section > input{
    border: none;
    padding: 8px;
    font-family: 'Raleway', sans-serif; 
    width: 400px;
    height: 40px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-section > button{
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: hsl(224, 100%, 61%);
    border: none;
    font-family: 'Raleway', sans-serif; 
    color: #fff;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* Footer styling */
footer{
    background-color: hsl(243, 87%, 12%);
    color: #fff;
    font-family:  'Raleway', sans-serif;
    padding: 50px;
}
.footer-links{
    margin-right: 200px;
}
footer > img{
    margin-bottom: 10px;
}
.footer-links{
    display: flex;
    justify-content: space-between;
}
footer a{
    color: #fff;
    font-family:  'Raleway', sans-serif;
    text-decoration: none;
}
.contact > div,
.aboutus > div,
.contactus > div,
.social > div{
    margin-top: 15px;
    font-size: 15px;
    cursor: pointer;
}
.phone ,
.email{
    display: flex;
    align-items: center;
}
.phone > img ,
.email > img{
    margin-right: 8px;
}
/* Media Quires */
@media screen and (max-width: 600px){
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10vh 120vh 10vh 100vh 50vh 60vh;
    }
    nav{
        padding: 15px;
        display: flex;
        width: 100%;
    }
    .logo{
        width: auto;
        height: 25px;
    }
    .links{
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        width: 170px;
        font-size: 13px;
    }
    .section1{
        padding: 15px;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }
    .headline{
        width: 320px;
    }
    .headline > h2{
        font-size: 25px;
        line-height: 40px;
    }
    .headline > p{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .headline > input{
    width: 100%;
    }
    .headline > button{
    width: 100%;
    margin-top: 7px;
    margin-left: 0px;
}
    .section1 > img{
        width: auto;
        height: 250px;
    }
}